<blockquote>
  <p><%= link_to advertising.to_s, advertising_path(advertising) %></p>
  <small>Autor: <%= advertising.user_email %></small>

  <% if can?(:approved, Advertising) && !advertising.approved? %>
    <%= link_to 'aprovar', approved_advertising_path(advertising), method: :put %>
  <% end %>
</blockquote>
